.game {
}

.input-wrapper {
  text-align: left;
  width: 360px;
}

.feedback-wrapper {
  width: 360px;
}

.loader {
  font-size: 2px;
  color: white;
  margin: 8px 10px;
  display: inline-block;
}

.score-loader {
  font-size: 2px;
  color: black;
  margin: 12px 8px;
  display: inline-block;
}
