@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Luckiest+Guy&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luckiest Guy", cursive;
  margin: 0;
}

body {
  background-image: linear-gradient(139deg, #fed6af, #ffc5ad, #f3b9bb, #f3adff);
}

a {
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.page-wrapper {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  height: 60px;
  width: 100%;
}

.title-link {
  text-decoration: none;
}

.logo-wrapper {
  width: 42px;
  height: 42px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.header-title {
  margin: 0;
  padding-left: 10px;
  margin-bottom: -10px;
}

.footer {
  height: 40px;
}

.underlined::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.underlined-subtle {
  line-height: 80%;
}

.underlined-subtle::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

*:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
}

input:invalid:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%) !important;
}

.github-logo {
  max-width: 40px;
  height: auto;
}

header {
  padding: 8px;
}

.nav a {
  margin-right: 1rem;
}

.footer-item {
  margin: 0 4px;
}

button {
  margin-top: 10px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ff4b01;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
